
*{margin: 0; padding: 0; outline: none;}
body{}
h1, h2, h3, h4, h5, h6, p{
    padding: 0;
    margin: 0;
    border: 0;
}

.body{
    background: #ddd;
}
.table{
    line-height: 30px;
}
.area{
    top: 0;
    max-width: 80%;
    min-height: 700px;
    margin: 0 auto;
    color: white;
    background: url(image/win10.jpg) 50% 0 no-repeat fixed;
    
}
.float{
    float: right;
    
}
.header{
    background: #b98966;
    color: white;
    width: 100%;
}
.footer{
    text-align: center;
    font-size: 20px;
    background: #b98966;
    color: white;
    width: 100%;
}
.footer p{
    padding-top: 25px;
    padding-bottom: 10px;
}
.footer h3{
    padding-bottom: 25px;
    
}
.leftalign{
    margin-left: 100px;
}
.footer a{
    text-decoration: none;
    color: white;
}

.post_body{
    margin-left: 10%;
    width: 55%;
    border-right: 1px solid;
    text-align: justify;
}
.sidebar{
    position: absolute;
    top: 25%;
    right: 15%;
    left: 65%;
    color: #fff;
    line-height: 30px;
}
.sidebar a{
    text-decoration: none;
    color: #fff;
}

.title_header_background {
    width: 100%;
    background-color: #b98966;
    color: white;
    padding-top: 2px;
    border-radius: 2px;
    padding-bottom: 8px;
    padding-left: 7%;
}
.categories{
    margin-bottom: 5%;
}
.categories ul li{
    
}
.categories ul li{
    width: 50%;
    padding: 1px 10px;
    background-color: orange;
    text-align: left;
    border-radius: 3px;
    margin-bottom: 3px;
}
.categories ul li:first-child{
    margin-top: 3px;
}
.categories ul li a{
    font-size: 20px;
}
.categories ul li:hover{
    width: 50%;
    background: yellowgreen;
}
.search_form{
    text-align: center; 
    padding: 10px 5px; 
    background: #b98966;
    color: #b98966;
}
.pagination{
    padding: 1%;
    display: inline-block; 
    color: #fff;
    
}

.pagination a{
    text-decoration: none; 
        color: #fff;
}
.pagination a:active{
/*    text-decoration: none; */
    color: red;
}
.unlikes{
    color: #fff; 
    text-decoration: none; 
    padding: 0 4px;
}
.likes{
    
}
textarea{
    resize: none;
}
.share{
    
}